body {
	font-family: 'Arial', sans-serif;
	text-align: center;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
  }

.card {
	position: relative;
	margin: 10px;
	width: 246px;
	height: 346px;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 10px;
	overflow: hidden;
}

.card-header {
	position: absolute;
	height: 20px;
	width: 100%;
}

.card-title {
	width: 100%;
	height: 20px;
	margin: auto
}

.card-body {
	position: absolute;
	margin: 10px 0px 0px 0px;
	width: 100%;
	height: 336px;
	padding: auto;
	overflow: hidden;
}

.card-strength-orb {
	position: absolute;
	margin: 0px 0px 0px 5px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background-color: orangered;
	border: 1px solid #000;
	border-radius: 18px;
	z-index: 1;
}

.card-health-orb {
	position: absolute;
	margin: 0px 0px 0px 206px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background-color: #369316;
	border: 1px solid #000;
	border-radius: 18px;
	z-index: 1;
}

.card-image-container {
	position: absolute;
	margin: 10px 10px 0px 10px;
	width: 226px;
	height: 226px;
	border: 1px solid #000;
	border-radius: 8px;
	overflow: hidden;
}

.card-image {
	width: 226px;
	height: 226px;
	object-fit: cover
}

.card-description {
	position: absolute;
	margin: 242px 10px 0px 10px;
	padding: 8px;
	width: 226px;
	height: 84px;
	border: 1px solid #000;
	border-radius: 8px;
	text-align: left;
	font-size: 12px;
	overflow: hidden;
}

.card-footer {
	position: absolute;
	padding: 10px;
	background-color: #ccc;
}