#card {
  width: 250px;
  height: 350px;
  padding: 50;
  position: absolute;
  background-color: aqua;
  border-radius: 10px;
}

#card-image {
  width: 200px;
  height: 200px;
  margin: 10px 25px;
  /*background-color: blueviolet;*/
}

#card-name {
  font-size: 20px;
  width: 200px;
  position: absolute;
  text-align: center;
  bottom: 140px;
  left: 25px;
  background-color: rgba(200, 200, 200, 0.9);
}

#card-tier {
  font-size: 32px;
  color: goldenrod;
  bottom: 303px;
  position: absolute;
  width: 64px;
  text-align: center;
  left: 161px;
  background-color: darkturquoise;
  border-radius: 0px 0px 0px 10px;
}

#card-stats {
  position: absolute;
  padding: 0px 10px;
}
